.board {
    margin: auto;
    /* margin-left:30%; */
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
  }

  .board-container {
    display: block;
    grid-column: 5 / 9;
    grid-row: 1;
    text-align: center;
    width: 100%;
  }
  
  /* .board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  } */